*,
*::before *::after {
  box-sizing: border-box;
}

:root {
  --clr-ac: hsl(268, 75%, 44%);
  --clr-acc: hsl(268, 68%, 59%);
}

body {
  width: min(600px, 100%);
  margin: 0 auto;
  min-height: 100vh;

  font-family: "Montserrat";
  font-size: 1rem;
  font-weight: 600;
}

.main {
  padding: 0rem 2rem;
}

h1,
h2,
h3 {
  margin: 0;
}

.header {
  color: white;
  background-color: var(--clr-ac);
  display: flex;
  align-items: center;
  padding-top: 2.5rem;
  padding-bottom: 1.8rem;
  box-shadow: 0 0.5rem 0 0 #8849cf;
}

.head_shadow {
  box-shadow: 0 0.5rem 0 0 #8849cf;
}

.header-icon {
  margin: 0 2rem;
  width: 2rem;
}

.header-title {
  font-size: 1rem;
}

.First-Content {
  color: var(--clr-ac);
  font-size: 0.6rem;
  padding: 2rem;
}

.First-Content-Details {
  color: rgba(0, 0, 0, 0.6);
}

.Select-Area {
  padding-inline: 2rem;
  position: relative;
}

.input-colored {
  font-size: 1rem;
  padding: 0, 5rem;
  border: 2px solid var(--clr-ac);
  border-radius: 5px;
  _position: relative;
}

.full-width {
  width: 100%;
}
.search-icon {
  width: 1rem;
  fill: var(--clr-ac);
  position: absolute;
}
.select-container {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.classes {
  width: 60%;
}

.time-frame {
  width: 40%;
}

.Second-Content-Details {
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.6rem;
  padding: 2rem;
}

.student-list {
  list-style: none;
  padding: 0;
  font-family: "Source Sans Pro";
  font-size: 1rem;
  font-weight: 600;
}

.student + .student {
  margin-top: 1rem;
}

.student {
  border: 3px solid var(--clr-ac);
  display: flex;
  align-items: center;
  padding: 0.9rem;
  max-width: 600px;
  border-radius: 5px;
  box-shadow: 3px 3px #8849cf;
  margin-bottom: 2rem;
}

.student-icon {
  width: 3rem;
  height: 3rem;
  color: var(--clr-acc);
  margin-right: 1rem;
}

.student-name {
  margin: 0;
  color: var(--clr-ac);
  font-weight: 600;
  font-size: 1rem;
}

.student-mail {
  text-decoration: underline;
  color: var(--clr-ac);
  font-size: 0.9rem;
}
